@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}

nav, ul, li, a{
	list-style: none;
	text-decoration: none;


}

header{
	background-color: #242D40;
} 
header div{
	display: flex;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	margin: 0 50px 0 50px; 
}

h1{
	font-size: 40px;
}

nav ul li a{
	color: #fff;
}

li{
	display: inline;
	margin-right: 20px;
	
}

li:hover{
	text-decoration:underline;
}

main{

	background-color: #3F4B59;
}

main .container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 50px;
	height: 90vh;
}

main .conteudo{
	display: flex;
	flex-direction: column;
	max-width: 600px;
	min-height: 30vh;
	
}
main .item{
	flex:1;
	margin-top: 25px;
}

main  h2{
	color: #D9D2BF;
	font-size: 40px;
	margin-left: 0 ;
	margin-bottom: 0;
}
main h3{
	font-size: 25px;
	color: #fff;
}

main p{
	font-size: 20px;
	color: #fff;
}

main img{
	width: 398px;
	height:	380px;
}

h2{

	font-size: 36px;
	margin: 30px 0 30px 50px;
}



section .conteudo_sec{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 50px;
	
}

article{
	display: flex;
	
	flex-direction: column;
}

article img{
	width: 350px;
	height: 369px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

button, a{
	font-size: 18px;
}

article button{
	height: 50px;
	margin: 20px 0 0 0; 
	border-radius: 12px;
	border-style: none;
	background-color: #242D40;
	color:white
}
article a {
	color: #fff;

}
article button:hover {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

article:nth-child(3){
	justify-content: space-between;
	width: 350px;
		
}
article:nth-child(3) button{
	height: 70px;
	margin: 0;
}
.contatos{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 200px;
}

.contatos img{
	width: 72px;
	height: 72px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
	

}
.contatos .item{
	display: flex;
	align-items: center;
	
}

.contatos .item a{
	color: #000;
	margin: 0 0 0 20px;
}
.contatos a:hover{
	text-decoration: underline;
}

footer{
	
	height: 150px;
	background-color: #242D40;
	color: #fff;
}

.footer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 20vw;
	height: 90%;
	margin: 0 0 0 50px;
}

.footer_cont{
	flex-direction: row;
	justify-content: center;
}
footer h3, p{
	margin: 10px 0 0 0;
}
 footer h3{
	 font-size: 15px;
 }
