*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

nav, ul, li, a{
	list-style: none;
	text-decoration: none;


}

header{
	display: flex;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	background-color: blue;
	color: #fff;
}

h1{
	font-size: 40px;
}

nav ul li a{
	color: #fff;
}

li{
	display: inline;
	margin-right: 20px;
	
}

li:hover{
	text-decoration:underline;
}

main{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 90vh;
}

main div{
	display: flex;
	flex-direction: column;
	max-width: 700px;
	min-height: 30vh;
	margin-left: 50px;
	
}
main .item{
	flex:1;
	margin: 0;
	margin-top: 30px;
}

main  h2{
	color: aquamarine;
	font-size: 40px;
}
main h3{
	font-size: 25px;
}

main p{
	font-size: 18px;
}

main img{
	width: 400px;
	height:	400px;
}

h2{
	margin: 20px 0 20px 50px;
	font-size: 36px;
}

section{
	display: flex;
	justify-content: space-around;
	height: 600px;
}

article{
	display: flex;
	flex-direction: column;
}

article .img{
	width: 350px;
	height: 350px;
	background-color: aqua;
}
article button{
	margin:50px 0 0 0;
	height: 40px;
	border-radius: 12px;
	border-style: none;
	background-color: blue;
	color:white
}

.contatos{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	height: 200px;
}

.contatos img{
	width: 72px;
	height: 72px;
	

}
.contatos .item{
	display: flex;
	align-items: center;
}

.contatos .item a{
	margin-left: 25px;
}

footer{
	display: flex;
	flex-direction: column;
	height: 150px;
	background-color: blue;
	color: #fff;
}

footer div{
	margin: 20px 0 0 50px;
}

footer div h3,p{
	
	margin-bottom: 5px;

}
