@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@200&display=swap');


.container{
	display: block;
	margin: 0 auto;
	width: 1128px;


}

.banner{
	background-image: url('../img/banner.jpg');
	width: 1128px;
	height: 445px;
}

.caixa{
	position: relative;
	top: 45px;
	display: block;
	width: 480px;
	height: 214.81px;
	background-color: rgba(0,0,0,0.6);
	

}

.caixa p{
	color: white;
	font-size: 20px;
	margin-left: 28px;
}

.caixa a{
	color: #00FEEE;
	font-size: 17px;
	text-decoration: none;
	margin-left: 28px;
}

.caixa h1{
	color: white;
	text-align: center;
	font-size: 42px;
	margin-top: 23px;
}
.img-coluna{
	width: 264px;
	height: 213px;

}

div{
	width: 100px;
}

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;

}


nav{
	
	text-align: right;
}



li{
	display: inline;
	padding: 30px;
	font-size: 20px;

}



a{
	text-decoration: none;
	color: #999999;	
}

h2{
	font-size: 26px;
	color: #444444;
}
p{
	font-size: 18px;
	color: #444444;
}
article{
	display: inline-grid;
	margin-top:56px;
	margin-right: 15px;
	height: 449.88px;
	

}

article div{
	display: block;
	width: 264px;
	
}

footer{
	margin-top: 77px;
}



